:root {
    --sk-color:#07799e;
    --sk-size:100px;
}

.loader_container {
    width: 100%;
    height: 100vh;
    margin-top: -105px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sk-grid {
    transform: translateY(-50%)
}