.aboutUs_container {
    justify-content: center;
    column-gap: 5.5rem;
    display: flex;
    position: relative;
    z-index: 1;
    height: 812px;
    max-width: 1350px;
    margin-inline: auto;
}

.aboutUs_paragraph_right {
    margin-bottom: 190px;
    margin-left: 2rem;
    align-self: flex-end;
}

.aboutUs_paragraph_left, .aboutUs_paragraph_right {
    width: 400px;
}

.aboutUs_paragraph_right p,.aboutUs_paragraph_left p {
    color: #626666;
    line-height:1.56em;
    font-size: 18px;
    font-weight: 300;
}

.aboutUs_paragraph_right h3,.aboutUs_paragraph_left h3 {
    color: #1d1f1f;
    letter-spacing: .15em;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.aboutUs_img_crew {
    z-index: 3;
    height: 600px;
    width: 400px;
}


.aboutUs_img_crew_container {
    height: 600px;
    width: 400px;
  position: relative;
  transform: translateY(20px) translateX(10px);
  animation: image-move;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: .5s;
}

.aboutUs_img_shadow {
    background-color:#191a1a ;
    filter: blur(6px);
    position: absolute;
    opacity: .18;
    transform: scale(.85);
    left: 7%;
    top: 4.5%;
    height: 100%;
    width: 100%;
    z-index: -1;
    animation-name: shadow-growth;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-fill-mode: forwards;

}

.abooutUs_highlight {
    border-radius: 1px;
    display: block;
    margin-bottom: 24px;
    height: 4px;
    width: 44px;
    background: linear-gradient(90deg, rgb(53, 117, 68), rgb(72, 193, 249));
}

@keyframes shadow-growth {
    from {transform:scale (.85);}
    to {transform:scale(1);}
  }

 @keyframes image-move {
    from {
        transform: translateY(20px) translateX(10px);
    }
    to {
        transform: translateY(0) translateX(0)
    }
 } 

 @media(max-width:1536px) {
    .aboutUs_container {
        margin-inline: 100px;
    }
 }

 @media(max-width:1300px) {
    .aboutUs_container {
        margin-inline: 50px;
    }
 }

 @media(max-width:1200px) {
    .aboutUs_container {
        margin-inline: 50px;
        flex-direction: column;
        justify-content: flex-start;
        height: unset;
    }

    .aboutUs_paragraph_right {
        align-self: flex-start;
        margin-left: 0;
        margin-top:55px ;
        width: unset;
        margin-bottom: 0;
    }

    .aboutUs_paragraph_left {
        width: unset;
        margin-bottom: 1rem;
    }
 }