.home-container {
    margin-top: -29px;
    width: 100%;
}

.home-bg {
    height: 600px;
    background-image:url('../../assets/home-bg.jpg');
    width: 100%;
    background-size: cover;
    background-position-y:-400px ;
}

@media(max-width:1536px) {
    .home-bg {
        background-position-y: -200px
    }
}

@media(max-width:1200px) {
    .home-container {
        margin-top: -34px;
    }
    .home-bg {
        background-position-y: unset;
    }
}

@media(max-width:900px) {
    .home-bg {
        background-position-y: -100px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .home-bg {
        background-position-y: unset;
    }
}