.home-container {
    margin-top: -19px;
    width: 100%;
}

.home-bg {
    height: 600px;
    background-image:url('../../assets/istockphoto-1411609195-1024x1024.jpg');
    width: 100%;
    background-size:cover;
    background-position-y:-200px;
}



@media(max-width:1536px) {
    .home-bg {
        background-position-y: -200px
    }
}

@media(max-width:1200px) {
    .home-bg {
        background-position-y: unset;
    }
}

@media(max-width:900px) {
    .home-bg {
        background-position-y: -100px;
        height: 400px;
    }
    .home-container {
        margin-top: -21px;
       
    }
}

@media (max-width: 768px) {
    .home-bg {
        background-position-y: unset;
    }
}
