.contact_container {
    display: flex;
    font-family: 'Roboto', sans-serif;
    max-width: 1120px;
    margin: auto;
}

.contact_left_section {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/pexels-quang-nguyen-vinh-6876534.jpg');
    background-position-x: 560px;
    background-position-y: -300px;
    
}
.contact_left_section::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,.8);
}
.contact_left_icon_info {
   
    display: flex;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.contact_left_icon_info h5 {
    color: white;
    margin-top: 3px;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
}

.contact_left_icon_info p {
    margin-top: 0;
    font-size: 1.2rem;
    margin-bottom: .5rem;
    font-weight: 300;
}

.contact_right_section {
    width: 50%;
    background-color: white;
    padding: 3rem;
}

.contact_right_section h3 {
    color: #333;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3rem;
}

.contact_right_section h6 {
    margin:0;
    font-size: 12px;
    font-weight: 300;
    padding: 10px 25px;
    border: 1px solid #cccccc;
    color: #555;
    line-height: 33px;
    text-transform: uppercase;
    
}

.contact_right_section input {
    background-color: transparent;
    line-height: 34px;
    padding: 10px 25px;
    border: 1px solid #cccccc;
    border-top: none;
    color: #666;
    font-size: 1rem;
}

.contact_right_section input::placeholder {
    color: rgb(194, 194, 194);
    font-size: 1rem;
}

.contact_right_section input:focus-within,.contact_right_section textarea:focus-within {
    outline: none;
}

.contact_right_section textarea {
    padding: 20px 25px;
    border: 1px solid #cccccc;
    border-top: none;
    background-color: transparent;
    width: 100%;
    resize: none;
}

.contact_right_section textarea::placeholder {
    color: rgb(194, 194, 194);
    font-size: 1rem;
}

.contact_right_single_input_container {
    margin-bottom: 1rem;
}

.contact_right_section button {
    font-size: 12px;
    color: white;
    background-color: var(--wgh-orange);
    align-self: center;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 44px;
    padding-inline: 2rem;
    letter-spacing: .5px;
    transition: background-color 250ms ease-out;

}

.contact_right_section button:hover {
    background-color: rgb(51, 51, 51);
    cursor: pointer;
}

.contact_right_section button:active {
    background-color:rgba(51, 51, 51,.7) ;
}

.contact_right_section form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact_name_input {
    width: 50%;
}

.contact_name_input:first-of-type {
    border-right: none !important;
}

.contact_info_colored {
    color: var(--wgh-color);
}

@media(max-width:900px) {
    .contact_container {
        margin-inline: 50px;
        flex-direction: column-reverse;
    }

    .contact_right_section {
        width: unset;
    }

    .contact_left_section {
        height: 900px;
        background-size: cover;
        background-position-x: -600px;
        background-position-y: unset;
    }
}

@media(max-width:600px) {
    .contact_name_input {
        width: 100%;
       
    }

    .contact_name_input:first-of-type {
        border-right: 1px solid #cccccc !important;
    }
   
}

@media(max-width:450px) {
   .contact_right_section {
    padding: 2rem;
   }
   .contact_container {
    margin-inline:1rem
   }
   .contact_right_section h3 {
    margin-bottom: 2rem;
   }
   .contact_left_icon_info{
    padding-inline: 1rem;
   }
   .contact_left_icon_info {
    flex-direction: column;
    row-gap: 1rem;
   }
   
}

@media(max-width:350px) {
    .contact_right_section {
     padding: 1rem;
    }
    .contact_container {
     margin-inline:0
    }
    .contact_right_section h3 {
     margin-bottom: 1rem;
     font-size: 24px;
    }
    
 }