.drawer_buttons button{
    width: 100%;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
  padding-left: 50px;
}

.drawer_buttons a {
    width: 100%;
}

.drawer_buttons {
    
    transition: height .5s ease-in;
}

.drawer_close {
    height: 0;
    overflow: hidden;
}

.drawer_open {
    height: 280px;
    overflow: hidden;
}