* {
  font-family: 'Maven Pro','Roboto',sans-serif;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --wgh-color:#07799e;
  --wgh-orange:#FE8C14;
}
.root {
  padding-top: 125px;
  background-color: #F7F9F9;
}

.my-relative {
  position: relative;
}

.z-2 {
  z-index: 2;
}

.mr-3 {
  margin-right: 3rem;
  
}
.ml-7 {
  margin-left: 7rem;
}
.mt-10 {
  margin-top: 10rem;
}
.mt-4{
  margin-top: 4rem;
}

.justify-end {
  justify-content: flex-end;
}

@media(max-width:1200px) {
  .root {
    padding-top: 91px;
  }
}


